.sidebar-item {
  display: flex;
  align-items: center;
  padding: 14px 5px;
  color: #9a9999;
  font-size: 32px;
}
.active-item {
  background-color: #f9f9f9;
  border-left: 2px solid #f73e60;
}

.item-icon {
  height: 36px;
}
.item-title {
  font-size: 18px;
}
.item-icon,
.item-title {
  margin-left: 20px;
}
